.TopBar {
  width: 100%;
  height: 30px;
  background-color: #C4C4C4;
  border: 1px solid #9C9595;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  -webkit-app-region: drag;
}

.TopBar__left {
  height: 100%;
  display: flex;
  align-items: center;
}

.TopBar__triangle {
  margin-left: 16px;
  z-index: 2;
}

.TopBar__circle {
  position: relative;
  right: 17px;
  z-index: 1;
}

.TopBar__button-file {
  margin-left: 13px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  border: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: color .4s linear;
  -webkit-app-region: no-drag;
}

.TopBar__button-file:hover {
  color: #50B5FF;
}

.TopBar__list {
  list-style: none;
  display: none;
  background-color: #C4C4C4;
  margin: 0;
  padding: 0;
  position: relative;
  right: 23px;
  top: 45px;
}

.TopBar__list_opened {
  display: block;
}

.TopBar__line {
  margin: 2px 0;
}

.TopBar__line:last-child {
  margin-bottom: 0;
}

.TopBar__list-button {
  width: 100px;
  font-family: 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  border-radius: 0;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  border: 0;
  transition: background-color .4s linear;
  cursor: pointer;
}

.TopBar__list-button:hover {
  background-color: #73787c;
}

.TopBar__right {
  display: flex;
  align-items: center;
}

.TopBar__button {
  width: 34px;
  height: 30px;
  padding: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: background-color .4s linear;
  -webkit-app-region: no-drag;
}

.TopBar__button_close {
  background-image: url('../../images/close.min.svg');
}

.TopBar__button_close:hover {
  background-color: #ff2400;
}

.TopBar__button_expand {
  background-image: url('../../images/expand.min.svg');
}

.TopBar__button_expand:hover {
  background-color: #E8E8E8;
}

.TopBar__button_back-expand {
  background-image: url('../../images/backExpand.min.svg');
}

.TopBar__button_back-expand:hover {
  background-color: #E8E8E8;
}

.TopBar__button_min {
  background-image: url('../../images/min.min.svg');
  background-position: bottom 6px center;
}

.TopBar__button_min:hover {
  background-color: #E8E8E8;
}
