.ProgressBar {
  width: 100%;
  align-self: center;
  height: 10px;
  -webkit-appearance: none;
  background: #FFFFFF;
  outline: none;
  border-radius: 15px;
}

.ProgressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 17px;
  height: 16px;
  border-radius: 50px;
  background: #7ABFFF;
  cursor: pointer;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
}
